# Ignore standalone.xml because it is copied from standalone.base.xml
standalone.xml

# Also ignore logging.properties because the filename will keep changing.
logging.properties

#eclipse
.settings/
.classpath
.project
.tern-project

#maven
target/

#angular compiled
ng/

#wildfly
server/configuration/standalone_xml_history/
server/log
server/content
server/data
server/tmp
